<footer class="footer">
  <hr>
  <script src="https://kit.fontawesome.com/64ff5f7524.js" crossorigin="anonymous"></script>
  <div class="left">
    <div class="logo-f">
      <p>TimeZ.</p>
    </div>
    <div class="links">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <a href="https://github.com/Rajibul029"><i class="fa-brands fa-github"></i></a>
    </div><br>
    &copy; <%= new Date().getFullYear(); %> Legend • Built with NodeJs & MongoDB
  </div>
  <div class="right">
    <div class="services-1">
    <p><a href="/about">About Us</a></p>
    <p><a href="/contact">Contact</a></p>
    <p>Services</p>
    <p>FAQ</p>
    </div>
    <div class="services-2">
      <p>Terms of Service</p>
      <p>Privacy Policy</p>
      <p>RSS Terms of Use</p>
      <p>Disclaimer</p>
    </div>
  </div>
</footer>
