<h2>Contact <span class="us">Us</span></h2>
<h3>OUR OFFICE</h3>
<p>Y8, EP Block, Sector V<br>Bidhannagar, Kolkata, 700091<br>West Bengal, India</p>
<h3>GET IN TOUCH</h3>
<p>Tel: (+91) 6296369214<br>Email: legendarydev@gmail.com</p><br>
<p>Learn more about our teams and job openings.</p>
<button type="submit" class="btn">Explore Jobs</button>