<h3>Sign In</h3>

<form action="/login" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="email"><b>Email</b></label>
  <input type="email" placeholder="Enter Password" name="email">

  <input type="submit" value="Log In" class="btn">

</form>
<p>If you have no account, Please click : <a href="/signup" class="us">ragister</a></p>
